body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(222, 221, 221, 0.594);
}

.heroPage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroVideo {
    position: absolute;
    inset: 0;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.heroText {
    position: absolute;
    color: black;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(140, 137, 137, 0.7);
}

.heroText h1 {
    font-size: 7rem;
    margin: 0;
}

.info_upphovsratt,
.info_licenser {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem;
}

.upphovsratt_rubrik,
.licenser_rubrik,
.sammanfatting_rubrik {
    font-size: 3rem;
    text-shadow: 4px 4px 8px rgba(140, 137, 137, 0.7);
}

.upphovsratt_text,
.licenser_text {
    font-size: 2rem;
    margin-bottom: 2em;
    color: rgb(34, 34, 34)
}

.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
        scale: 0.4;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}

.carousel {
    margin: 2em 5em;
    display: flex;
    overflow-x: auto;
    gap: 2em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right) {
    content: '→';
    border: none;
    background-color: rgb(3, 3, 78);
    font-size: 2rem;
    color: white;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(left) {
    content: '←';
    border: none;
    background-color: rgb(3, 3, 78);
    font-size: 2rem;
    color: white;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: left center;
    translate: 50%;
}

.carousel::scroll-button(left):disabled,
.carousel::scroll-button(right):disabled {
    opacity: 0.5;
    cursor: auto
}

.card {
    scroll-snap-align: center;
    flex: 0 0 60%;
    height: 12em;
    background-color: rgb(80, 80, 80);
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}

.card-text {
    transition: filter 0.3s ease, opacity 0.3s ease;
    filter: blur(5px);
    opacity: 0.4;
    color: rgb(190, 190, 190);
}

.card.active .card-text {
    filter: blur(0);
    opacity: 1;
}

.authors {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2em;
    font-size: 1rem;
    color: grey;
    background-color: rgb(3, 3, 78);
    min-height: 4em;
}