.autoShow {
    animation: text-appear;
    animation-timeline: view(50% 20%);
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}